@media (min-width: 1024px) {
	.nav-desktop {
		.nav-box {
			height: 101px;
			.center-box {
				.left-box {
					// .logo {
					// 	margin-right: 4em;
					// }
					.links {
						.link {
							padding: 40px 0;
						}
					}
				}
			}
		}
	}
	.main {
		.desktop-main {
			.desktop-box {
				.center-box {
					padding: 3.2em 4em;
					max-width: 450px;
				}
			}
		}

		.instruction {
			.container {
				.center-box {
					margin: 0 auto;
					padding: 0 4em;
					max-width: 1440px;

					.title-box {
						margin: 0 auto;
						max-width: 720px;
						.title {
							font-size: 2.8rem;
						}
					}
				}
			}
		}

		.cash-section {
			.container {
				.center-box {
					padding: 4.8em 4em;

					.info-box {
						width: 50%;
					}
					.box {
						.box-title {
							display: none;
						}
						.double-box-desktop {
							.second-title {
								display: block;
								width: 16.66667%;
							}

							.boxes {
								padding: 0 24px;
								width: 41.66667%;
							}
						}
					}
				}
			}
		}

		.form-section {
			.container {
				.center-box {
					margin: 0 auto;
					padding: 0 2.4em;
					max-width: 1440px;
					.form-box {
						width: 50%;
						.title-box {
							.title {
								font-size: 2.8rem;
							}
							.text {
								font-size: 1.6rem;
							}
						}

						.input-container {
							.input-box {
								.pseudo-placeholder {
									font-size: 1.9rem;
								}
							}
						}
					}
				}
			}
		}

		.earning-stars {
			.container {
				padding: 40px;
				.center-box {
					padding: 0;
				}
			}
		}
	}

	.footer {
		.container {
			.center-box {
				padding: 0 40px;
				.box-mobile {
					display: none;
				}

				.box-desktop {
					display: block;
				}

				.links {
					ul {
						

						li {
							

							.left-line {
							
							}

							.link {
								
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1280px) {
	.main {
		.cash-section {
			.container {
				.center-box {
					.box {
						.double-box-desktop {
							.boxes {
								width: 33.33333%;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1520px) {
	.nav-desktop {
		.desktop-rewards {
			.box {
				padding-left: 4em;
			}
		}
	}

	.main {
		.rewards {
			padding: 0;
			.box {
				margin: 0 auto;
				max-width: 1440px;
				width: 100%;
			}
		}

		.desktop-main {
			.desktop-box {
				margin: auto;
				max-width: 1440px;
				.center-box {
					padding: 0;
				}
			}
		}

		.earning-stars {
			.container {
				padding: 0;
				.center-box {
					padding: 0;
				}
			}
		}
	}

	// max-width: 1440px;
	// margin: auto;
}

@media (min-width: 1670px) {
	.nav-desktop {
		.nav-box {
			.logo {
				width: 5.1em;
				margin: 0 4em 0 -9em;
			}
		}
	}
}
