@media (min-width: 1024px) {
	.nav-desktop {
		.nav-box {
			height: 101px;
			.center-box {
				.left-box {
					// .logo {
					// 	margin-right: 4em;
					// }
					.links {
						.link {
							padding: 40px 0;
						}
					}
				}
			}
		}
	}
	.main {
		.desktop-main {
			.desktop-box {
				.center-box {
					padding: 3.2em 4em;
					max-width: 450px;
				}
			}
		}

		.instruction {
			.container {
				.center-box {
					margin: 0 auto;
					padding: 0 4em;
					max-width: 1440px;

					.title-box {
						margin: 0 auto;
						max-width: 720px;
						.title {
							font-size: 2.8rem;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1520px) {
	.nav-desktop {
		.desktop-rewards {
			.box {
				padding-left: 4em;
			}
		}
	}

	.main {
		.rewards {
			padding: 0;
			.box {
				margin: 0 auto;
				max-width: 1440px;
				width: 100%;
			}
		}

		.desktop-main {
			.desktop-box {
				margin: auto;
				max-width: 1440px;
				.center-box {
					padding: 0;
				}
			}
		}
	}

	// max-width: 1440px;
	// margin: auto;
}

@media (min-width: 1670px) {
	.nav-desktop {
		.nav-box {
			.logo {
				width: 5.1em;
				margin: 0 4em 0 -9em;
			}
		}
	}
}
