@media (min-width: 768px) {
	.nav-mobile {
		.nav-container {
			.nav-bar {
				padding: 0 2.4em;
				height: 84px;
				.logo-star {
					width: 5.1em;
				}
			}
		}
		.right-nav {
			height: calc(100vh - 84px);
		}
	}

	.main {
		.rewards {
			padding: 0 2.4em 0 9.9em;
			.button-box {
				display: none;
			}
		}

		.main-container {
			display: none;
		}

		.desktop-main {
			display: block;
			margin-bottom: 12.8em;
		}

		.instruction {
			.container {
				.center-box {
					padding: 0 4em;

					.title-box {
						.title {
							font-size: 2.8rem;
						}
					}

					.instruction-container {
						display: flex;
						align-items: flex-start;
						justify-content: center;

						.boxes {
							flex-direction: column;
							text-align: center;
							width: 26.455%;
							padding-bottom: 0;

							.img-box {
								padding-bottom: 2.4em;
								img {
									width: 4.8em;
								}
							}

							.instruction-box {
								.title {
									font-size: 1.9rem;
								}

								.text {
									font-size: 1.6rem;
								}
							}
						}

						.number-one-box {
							margin: 0 24px 0 0;
						}
						.number-two-box {
							margin: 0 24px;
						}
						.number-three-box {
							margin: 0 0 0 24px;
						}
					}
				}
			}
		}

		.favorites {
			padding-bottom: 128px;
			.top-container {
				.top-favorites {
					.title-top {
						padding-bottom: 4.8em;
						.title {
							font-size: 2.8rem;
						}
					}
				}
				.choose-box {
					margin: 0 auto;
					max-width: 540px;

					.boxes-value {
						.btn {
							font-size: 2.4rem;

							.star {
								font-size: 1.7rem;
							}
						}
					}
				}
			}

			.bottom-container {
				padding: 0;
				.boxes-img {
					// display: flex;
					display: none;
					align-items: center;
					justify-content: center;
					padding: 3.2em 00;
					.img-box {
						padding: 0;
						width: 100%;
						max-width: 375px;
						.img {
							max-width: 345px;
						}
					}

					.title-bottom {
						text-align: left;
						max-width: 375px;
						.title {
							font-size: 2.4rem;
						}

						.text {
							font-size: 1.6rem;
						}
					}
				}

				.active-img {
					display: flex;
				}
				// .first-img{
				// 	display: flex;
				// }
			}
		}

		.endless-section {
			.container {
				.center-box {
					.instruction-container {
						.boxes {
							.img-box {
								padding-right: 0;
								img {
									width: 112px;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 800px) {
	.nav-mobile {
		display: none;
	}
	.nav-desktop {
		display: block;
	}

	.main {
		.rewards {
			padding: 0 4em 0 13.1em;
		}
	}
} ;
