@media (min-width: 375px) {
	.nav-mobile {
		.nav-container {
			.nav-bar {
				.logo-star {
					width: 4em;
				}
			}
		}
	}

	.main {
		.rewards {
			.box {
				width: 19em;
			}
		}

		.instruction {
			.container {
				.center-box {
					.title-box {
						.title {
							font-size: 2.4rem;
						}
					}
				}
			}
		}

		.favorites {
			.top-container {
				.top-favorites {
					.title-top {
						.title {
							font-size: 2.4rem;
						}
					}
				}
			}
		}
	}
}
