* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}
// font-family: 'Titillium Web', sans-serif;

body {
	font-family: 'Titillium Web', sans-serif;
	// overflow: hidden;
}

.body-active {
	overflow: hidden;
}

// .wrapper {
// 	margin: 0 auto;
// 	max-width: 1440px;
// 	width: 100%;
// }

.nav-mobile {
	.nav-container {
		.nav-bar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 1.6em;
			height: 64px;
			.logo-star {
				width: 3.2em;
			}
		}
	}

	.right-nav {
		position: fixed;
		// top: 0;
		width: 100vw;
		height: calc(100vh - 64px);
		// background-color: rgba(0, 0, 0, 0.16);
		transform: translateX(1800px);
		transition: transform 0.4s;
		.nav-box {
			position: fixed;
			right: 0;
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 80%;
			transform: translateX(1800px);
			background-color: #fff;
			box-shadow: inset 0 4px 3px -3px rgb(0 0 0 / 10%),
				inset 0 4px 2px -2px rgb(0 0 0 / 7%);
			z-index: 100;
			transition: transform 0.4s;

			.links {
				display: flex;
				flex-direction: column;
				padding-top: 3.2rem;

				.link {
					padding: 16px 32px;
					font-size: 1.9rem;
					text-decoration: none;
					color: #000000de;
					font-weight: 600;
					text-align: left;
				}

				.menu {
					display: flex;
					align-items: center;
					justify-content: space-between;
					background: none;
					border: 1px solid transparent;
				}
			}

			.line {
				margin: 16px auto 32px;
				height: 2px;
				width: 70%;
				background-color: rgba(0, 0, 0, 0.1);
			}

			.map-box {
				padding: 0 2.4em;
				.btns-box {
					.btn {
						padding: 0.5em 1em;
						font-size: 1.4rem;
						font-weight: bold;
						border-radius: 40px;
						background: none;
					}

					.sing {
						border: 1px solid black;
						margin-right: 16px;
					}

					.join {
						border: 1px solid transparent;
						background-color: #000;
						color: #fff;
					}
				}

				.map {
					margin-top: 1.6em;
					.map-link {
						display: flex;
						align-items: center;
						font-size: 1.6rem;
						font-weight: bold;
						text-decoration: none;
						color: #000000de;

						svg {
							padding-right: 8px;
						}
					}
				}
			}
			.menu-box {
				position: absolute;
				display: flex;
				flex-direction: column;
				height: 100%;
				width: 100%;
				transform: translateX(1800px);
				background-color: #fff;
				transition: transform 0.4s;

				.menu {
					display: flex;
					align-items: center;
					background: none;
					border: 1px solid transparent;
					background-color: #f9f9f9;
					box-shadow: inset 0 4px 5px -3px rgb(0 0 0 / 20%);

					span {
						width: 100%;
						text-align: center;
						font-weight: 400;
					}

					svg {
						transform: translateX(-7px);
					}
				}

				.link {
					padding: 16px 32px;
					font-size: 1.9rem;
					text-decoration: none;
					color: #000000de;
					font-weight: 600;
					text-align: left;
				}
			}
			.active-second-menu {
				transform: translateX(0);
			}
		}
		.active-first-menu {
			transform: translateX(0);
		}

		.shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.16);
			transform: translateX(1800px);
			opacity: 0;
			transition: transform 0.4s, opacity 0.4s;
		}
		.active-shadow {
			transform: translateX(0);
			opacity: 1;
		}
	}

	.active-right-nav {
		transform: translateX(0);
	}
}

// DESKTOP================NAV
.nav-desktop {
	display: none;
	.nav-box {
		display: flex;
		margin: 0 auto;

		padding: 0 4em;
		height: 85px;
		max-width: 1520px;
		.logo {
			margin-right: 4em;
			width: 5.6em;
		}
		.center-box {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;

			.left-box {
				display: flex;
				align-items: center;

				.links {
					font-size: 1.4rem;
					.link {
						padding: 2.285711em 0;
						color: #000000de;
						font-weight: bold;
						letter-spacing: 0.1em;
						text-decoration: none;
						text-transform: uppercase;
						transition: color 0.3s;
					}

					.rewards {
						margin-left: 24px;
						box-shadow: inset 0 -6px #00754a;
					}

					.gift {
						margin-left: 24px;
					}

					.link:hover {
						color: #00754a;
					}
				}
			}

			.right-box {
				display: flex;
				.map {
					margin: 0 4em;
					.localisation {
						display: flex;
						align-items: center;
						font-size: 1.6rem;
						color: #000;
						text-decoration: none;
						font-weight: bold;
						transition: color 0.3s;

						.tag {
							color: #000;
							padding-right: 0.5em;
							transition: color 0.3s;
						}
					}
				}
				.map:hover {
					.localisation {
						color: #00754a;
						.tag {
							color: #00754a;
						}
					}
				}

				.btns {
					.btn {
						padding: 0.5em 1em;
						font-size: 1.4rem;
						font-weight: bold;
						border-radius: 40px;
						cursor: pointer;
					}

					.sing {
						margin-right: 1em;
						background: none;
						border: 1px solid black;
						transition: background-color 0.3s;
					}
					.sing:hover {
						background-color: #f0f0f0;
					}

					.join {
						background-color: black;
						color: #fff;
						border: 1px solid transparent;
					}
				}
			}
		}
	}

	//
}

//MAIN===================================

.main {
	.rewards {
		background-color: #1e3932;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 1.6em;
		height: 5em;

		.box {
			width: 11em;
			.title {
				font-size: 1.5rem;
				letter-spacing: 0.1em;
				color: #fff;
				text-transform: uppercase;
			}
		}

		.button-box {
			.btn {
				padding: 0.5em 1.4em;
				background-color: transparent;
				font-size: 1.4rem;
				color: #fff;
				border-radius: 40px;
				font-weight: bold;
				border: 1px solid #fff;
			}
		}
	}
	.main-container {
		margin-bottom: 7.2em;
		width: 100%;
		height: 75vh;
		background-image: url('https://www.starbucks.com/weblx/images/rewards/hero/hero-mobile_2021.jpg');
		background-size: cover;
		background-repeat: no-repeat;

		.main-box {
			margin: 0 auto;
			padding: 3.2em 1.6em;
			text-align: center;
			max-width: 290px;
			// max-width: 1440px;

			.title-box {
				.title {
					font-size: 2.2rem;
					text-transform: uppercase;
				}
			}

			.text-box {
				padding-top: 1.6em;
				.text {
					font-size: 1.6rem;
					font-weight: 400;
				}
			}

			.button-box {
				padding-top: 3.2em;
				.btn {
					padding: 0.7em 1.6em;
					background-color: #00754a;
					border: transparent;
					color: #fff;
					font-weight: bold;
					border-radius: 40px;
				}

				.link-box {
					margin: 1.6em;
					.link {
						font-size: 1.6rem;
						color: #000000de;
						font-weight: 400;
					}
				}
			}
		}
	}

	.desktop-main {
		display: none;
		// width: 100%;
		height: 56.25vw;
		max-height: 810px;
		background-color: rgba(212, 233, 226);
		background-image: url('https://www.starbucks.com/weblx/images/rewards/hero/xl-hero-desktop_2021.png');
		background-size: cover;
		background-position: 50%;

		.desktop-box {
			display: flex;
			align-items: center;
			// width: 50%;
			height: 100%;
			.center-box {
				padding: 3.2em 2.4em;
				max-width: 400px;

				.title-box {
					.title {
						font-size: 3.6rem;
						text-transform: uppercase;
					}
				}

				.text-box {
					padding-top: 1.6em;
					.text {
						font-size: 1.9rem;
						font-weight: 400;
					}
				}

				.button-box {
					padding-top: 3.2em;

					.btn {
						padding: 7px 16px;
						font-size: 1.6rem;
						background-color: #00754a;
						color: #fff;
						border: transparent;
						font-weight: bold;
						border-radius: 40px;
					}

					.link-box {
						margin-top: 1.6em;
						text-align-last: left;

						.link-text {
							font-size: 2.1rem;
							color: #000000de;
							font-weight: 400;
							.link {
								font-size: 2.1rem;
								color: #000000de;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
	}

	.instruction {
		display: none;
		.container {
			.center-box {
				padding: 0 1.6em;
				.title-box {
					text-align: center;
					.title {
						font-size: 2.2rem;
					}

					.text-box {
						.text {
							padding-top: 1em;
							font-size: 1.6rem;
						}
					}
				}

				.instruction-container {
					padding-top: 4.8em;
					.boxes {
						display: flex;
						padding-bottom: 3.2em;

						.img-box {
							padding-right: 1.6em;
							img {
								width: 4.8em;
							}
						}

						.instruction-box {
							.title {
								font-size: 1.8rem;
							}

							.text {
								padding-top: 1em;
								font-size: 1.5rem;
								line-height: 1.3em;
								font-weight: 400;

								.link {
									color: #00a862;
									font-weight: bold;
								}
							}
						}
					}

					.boxes:last-of-type {
						padding-bottom: 0;
					}
				}
			}
		}
	}

	.instruction-desktop {
		display: block;
		
		
	}
}

@import './small';
@import './medium';
@import './large';
